<div class="contents row">
<%= form_for @blog do |f| %>

  <div class="field">
    <%= f.label :text, "投稿", class: "form_label" %>
    <%= f.text_area :text, cols: 30, rows: 10, placeholder: "テキストを入力" %>
  </div>
  <div class="actions">
    <%= f.submit "送信" %>
  </div>

<% end %>
</div>
